@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@media (max-width: 768px) {
    #imageRes {
        max-height: 200px;
        padding: 2.4rem;
    }
    #upsection {
        flex-direction: column; 
        margin: 0 1.5rem;
    }
}

*{
    box-sizing: border-box;    
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #d8f1ce;
    transition: background 0.2s linear;
}

header {
    background: #fff;
    width: 100%;
    /* color: #fff; */
    padding: 1px 0;
}

.navbar {
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}
.textandlogo {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0.2rem;
}
.navbar .logo img {
    height: 80px;
    width: 80px;
    margin: 0.5rem;
}

.logoname {
    color: black;
    font-weight: bold;
    justify-self: center;
}

.navbar a:hover {
    transform: scale(1.05);
}

.tool-section {
    display: flex;
    flex-direction: column;
}

.tool-section h1 {
    padding-top: 2rem;
    text-align: center;
    margin: 0;
}

.slogan {
    padding: 0 1rem 0 1rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight:500;
}

.uploadsection {
    padding: 2rem 0;
    margin: 20px 5rem;
    background-color: #EDF9EE;
    border-radius: 10px;
    min-height: 350px;
    max-height: fit-content;
    max-width: 84rem;
    border: 3px dashed #d2d1d6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 433px; */
    transition: .1s ease-in-out;
}

.afterImage {
    width: 100%;
    text-align: center;
}

.afterImage img {
    max-height: 360px;
}

.before-upload {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

 /* submit button */
.custom-button {
    font-size: 22px;
    color: white;
    cursor: pointer;
    padding: 5px 0px;
    margin: 1.5rem 0px 0px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 1);
    background: linear-gradient(90deg, rgb(71, 71, 71) 0%, rgb(23, 23, 23) 101.42%);
    border-radius: 5px;
    display: flex;
    width: 200px;
    height: 38px;
    justify-content: space-around;
    border: none;
    outline: none;
}

.custom-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


 /* image logo box */
img#svgImage {
    margin-bottom: 1.5rem;
}

.name-img-percentage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    text-align: center;
}

.browse-btn {
    min-width: 150px;
    padding: 3px 0;
    text-align: center;
    background-color: #8066ff;
    opacity: .7;
    border-radius:8px;
    color: #fff;
    cursor: pointer;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-btn {
    border: 1px solid #00000000;
    margin: 0.5rem 0;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgb(79, 79, 79);
    background: linear-gradient(90deg, rgb(71, 71, 71) 0%, rgb(23, 23, 23) 101.42%);
    text-align: center;
}

.reset-btn:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.reset-btn span {
    font-size: 25px;
    color: white;
}

.reset-btn img{
    width: 22px; 
    height: 22px; 
    margin-left: 4px;
    padding-top: 4px;
}

#chartDiv {
    max-width: 300px;
    height: 200px;
    margin: 0px auto;
}

.paraSection {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #EDF9EE;
    border: 1px solid #2424241e;
    border-radius: 8px;
    box-shadow: #2424241e 5px 5px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 850px;
}

.slogann{
    margin: 0 1rem;
    padding: 1rem 2rem;
}

#circularcursor{
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
}